body{
    background-color: gainsboro;
}

.btn-pdl{
    background-color: aquamarine;
    color: blue;
    font-size: 12pt;
    text-shadow: 1px 1px 2px #cac1c1;
    border-radius: 5px;
    padding: 3px;
}

.input-pdl{
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
}