body{
    background-color: gainsboro;
    position: relative;
}

.btn-pdl{
    position: absolute;
    font-size: 14pt;
    background-color: red;
    color: #fff;
    
    text-shadow: 2px 2px #000;
    border-radius: 5px;
    padding: 3px;
}

.input-pdl{
    position: absolute;
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
}
.media-pdl{

    
    position: absolute;
}
.text-pdl{

    position: absolute;
    display: block;
    width: 240px;
   
}